@import url("https://font.emtech.cc/css/LINESeed");

*{
  scroll-behavior: smooth;
}

html {
  /* @apply text-base-sm md:text-base; */
}

body {
  @apply bg-lightmode-body text-base dark:bg-body font-primary font-normal leading-relaxed text-lightmode-text dark:text-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply  font-bold leading-tight;
  color: var(--sl-color-white);
}

h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4;
}

h5,
.h5 {
  @apply text-h5;
}

h6,
.h6 {
  @apply text-h6;
}

b,
strong {
  @apply font-semibold;
}

code {
  @apply after:border-none;
}

blockquote > p {
  @apply my-0!;
}

a{
  font-weight: bold;
}

.expressive-code .frame pre{
  border-radius: .5rem;
}

.sidebar-content-top:where(.astro-gvqsdny3) ul:where(.astro-gvqsdny3){
  gap: 0;
  overflow-x: scroll;
  white-space: nowrap;
}


.sidebar-content-top:where(.astro-gvqsdny3) ul:where(.astro-gvqsdny3) li:where(.astro-gvqsdny3) a:where(.astro-gvqsdny3){
  padding: 10px 1.25rem;
  transition: .3s;
  &:hover{
    color: var(--color-primary);
  }
}
.sidebar-content-top:where(.astro-gvqsdny3) ul:where(.astro-gvqsdny3) li:where(.astro-gvqsdny3) a:where(.astro-gvqsdny3).active{
  color: var(--color-primary);
  border-color: var(--color-primary);
}

.sidebar, .right-sidebar-container{
 opacity: .45 !important;
 transition: .3s;
 &:hover{
  opacity: 1 !important;
 }
}

.top-level li{
  margin-bottom: 8px !important;
}